<!-- <p>register works!</p> -->

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="wrapper">
        <h1>Register</h1>
        <hr />
        <form #registerForm="ngForm" (ngSubmit)="onSubmitHandler()">
          
            <!-- <h3>{{ registerForm.value | json }}</h3>
            <hr>
            <h3>{{ userModel | json }}</h3> -->
          
          <div class="form-group">
            <label for="">First Name</label>
            <input 
            type="text" 
            name="firstName" 
            class="form-control" 
            required
            #firstName="ngModel" 
            [class.is-invalid]="firstName.touched && firstName.invalid" 
            [(ngModel)]="userModel.firstName" />
            <small class="text-danger" [class.d-none]="firstName.untouched || firstName.valid">*First Name is required</small>
            <!-- <h2>{{ firstName.className }}</h2> -->
            <!-- <h2>{{ firstName.valid }}</h2> -->
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input 
            type="text" 
            name="email" 
            class="form-control" 
            required 
            #email="ngModel"
            [class.is.invalid]="email.touched && email.invalid"
            [(ngModel)]="userModel.email" />
            <small class="text-danger" [class.d-none]="email.untouched || email.valid">*Email is required</small>
          </div>
          <div class="form-group">
            <label for="">Mobile</label>
            <input 
            type="text" 
            name="mobile" 
            class="form-control" 
            required
            #mobile="ngModel"
            [class.is.invalid]="mobile.touched && mobile.invalid"
            [(ngModel)]="userModel.mobile" />
            <small class="text-danger" [class.d-none]="mobile.untouched || mobile.valid">*Mobile is required</small>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input 
            type="password" 
            name="password" 
            class="form-control" 
            required
            minlength="6"
            #password="ngModel"
            [class.is.invalid]="password.touched && password.invalid"
            [(ngModel)]="userModel.password" />
            <small class="text-danger" [class.d-none]="password.untouched || password.valid">*Password is required</small>
          </div>
  
          <input
            type="submit"
            value="Register"
            [disabled]="registerForm.invalid"
            class="btn btn-primary btn-block"
          />
          <br />
          <a href="#">Already Register? Click Here!</a>
        </form>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
