<!-- <p>test works!</p>
<h1>Hello {{name}}}</h1> -->


<!-- <h2>ngIf</h2>

<h1 *ngIf="display">Hello from if</h1>
<h1 *ngIf="!display">Hello from else</h1>

<br>

<button *ngIf="!isLoggedIn" class="btn btn-primary">Login</button> &nbsp;
<button *ngIf="isLoggedIn" class="btn btn-danger">Logout</button> -->


<!-- <h2>ngSwitch</h2>

<div [ngSwitch]="number">
    <h1 *ngSwitchCase="1">One</h1>
    <h1 *ngSwitchCase="2">Two</h1>
    <h1 *ngSwitchCase="3">Three</h1>
    <h1 *ngSwitchDefault >Invalid Number</h1>
</div>

<div [ngSwitch]="numberInWord">
    <h1 *ngSwitchCase="'One'">1</h1>
    <h1 *ngSwitchCase="'Two'">2</h1>
    <h1 *ngSwitchCase="'Three'">3</h1>
    <h1 *ngSwitchDefault >Invalid Number</h1>
</div> -->


<!-- <h2>ngFor</h2>

<ul>
    <li *ngFor="let name of names">{{name}}</li>
</ul>

<h2>Employee List</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; index as i, first as f, last as l, odd as o, even as e;"
            [style.background]="e ? '#ccc' : '#fff'">
            <td>{{ o }}</td>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.email }}</td>
        </tr>
    </tbody>
</table> -->


<!-- <h2>ngFor - trackBy</h2>

<h2>Employee List</h2>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; trackBy : trackById">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.email }}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" (click)="onButtonClicked()">Refresh Data</button> -->


<h1>Pipes</h1>
<br>

<h1>{{ name }}</h1>
<h1>{{ name | uppercase }}</h1>
<h1>{{ name | lowercase }}</h1>
<h1>{{ name | titlecase }}</h1>
<br>

<h1>{{ person }}</h1>
<h1>{{ person.lastName }}</h1>
<h1>{{ person | json }}</h1>
<br>

<h1>{{ 1.234 }}</h1>
<h1>{{ 1.234 | number : '1.2-3'}}</h1>
<h1>{{ 1.234 | number : '3.4-5'}}</h1>
<h1>{{ 1.235 | number : '3.1-2'}}</h1>
<br>

<h1>{{ 1000 | currency }}</h1>
<h1>{{ 1000 | currency : 'USD' }}</h1>
<h1>{{ 1000 | currency : 'BRL' : 'code' }}</h1>
<br>

<h1>{{ currentDate }}</h1>
<h1>{{ currentDate | date : 'short'}}</h1>
<h1>{{ currentDate | date : 'shortDate'}}</h1>
<h1>{{ currentDate | date : 'shortTime'}}</h1>
<h1>{{ currentDate | date : 'medium'}}</h1>
