.myText1{
    font-weight: 45px;
    font-weight: bold;
    color: red;
}
.myText2{
    font-weight: 45px;
    font-weight: bold;
    color: green;
}
.myText3{
    font-weight: 45px;
    font-weight: bold;
    color: blue;
}