<!-- <app-navbar></app-navbar>
<app-header></app-header>
<div class="row">
  <div class="col-lg-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9">
    <app-home></app-home>
  </div>
</div>
<app-footer></app-footer> -->


<!-- <app-test></app-test> -->


<!-- <h1>App Component</h1>

<div>
  <app-employee-list></app-employee-list>
  <app-employee-detail></app-employee-detail>  
</div> -->


<!-- <div class="container">
  <app-post></app-post>
</div> -->


<!-- <div class="container">
  <app-photos></app-photos>
</div> -->


<!-- <div class="container">
  <app-test></app-test>
</div> -->


<div class="container">
  <app-employee-list></app-employee-list>
</div>
